{% block header %}

<div id="header">

    <div class="container">

        <div class="row">

            <div class="col-md-6 d-flex justify-content-end justify-content-md-start">

                <div class="logo navbar-brand mx-4 my-auto"><a href="{{ url_for('home') }}">
                        <img class="mx-2 header-logo" src="{{ url_for('static',filename='images/logo.svg') }}"
                            alt="olirowanxyz" width="165px" height="65px" /></a>
                </div>

            </div>

            <div class="col-md-6 d-flex justify-content-end">

                <ul
                    class="nav navbar-nav sf-menu justify-content-end navigation-link black-link-hover mx-4 my-auto mb-3">

                    <li class="nav-item mx-2 {{ 'nav-link active' if active_page == 'home' else 'nav-link' }}">
                        <a href="{{ url_for('home') }}">home</a>
                    </li>

                    <li class="nav-item mx-2 {{ 'nav-link active' if active_page == 'blog' else 'nav-link' }}">
                        <a href="{{ url_for('blog') }}">blog</a>
                    </li>

                    <li class="nav-item mx-2 {{ 'nav-link active' if active_page == 'snippets' else 'nav-link' }}">
                        <a href="{{ url_for('snippets') }}">snippets</a>
                    </li>

                    <li class="nav-item mx-2 nav-link">
                        <a href="{{ url_for('toggle_theme', current_page=request.path) }}">
                            <span>
                                {% if session['theme'] == "light" %}
                                    <i class="fa-solid fa-moon"></i>
                                {% else %}
                                    <i class="fa-solid fa-sun"></i>
                                {% endif %}
                            </span>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>
</div>

{% endblock %}