{% block header %}

<div id="header">

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="logo navbar-brand"><a href="{{ url_for('home') }}">
                        <img class="header-logo" src="{{ url_for('static',filename='images/logo.svg') }}"
                            alt="olirowanxyz" width="165px" height="65px" /></a>
                </div>

            </div>

            <div class="col-md-6">

                <div class="container-fluid">
                    <ul
                        class="nav navbar-nav navbar-expand sf-menu justify-content-end navigation-link black-link-hover">

                        <li class="nav-item mx-2 {{ 'nav-link active' if active_page == 'home' else 'nav-link' }}">
                            <a href="{{ url_for('home') }}">home</a>
                        </li>

                        <li class="nav-item mx-2 {{ 'nav-link active' if active_page == 'blog' else 'nav-link' }}">
                            <a href="{{ url_for('blog') }}">blog</a>
                        </li>

                        <li class="nav-item mx-2 {{ 'nav-link active' if active_page == 'snippets' else 'nav-link' }}">
                            <a href="{{ url_for('snippets') }}">snippets</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}