{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "admin" %}

{% block title %}Admin Tags - olirowan{% endblock %}

{% block app_content %}

<div class="container post-text">

    <div class="row justify-content-evenly">

        <div class="col-md-12">

            <h2 class="mt-4"><a href="{{ url_for('admin') }}">Admin</a> - Manage Tags</h2>

            <hr class="separator my-4">

            <div class="row">

                <div class="col-sm-4">

                    <div class="card">

                        <div class="card-body">
                            {% if form %}
                            {{ wtf.quick_form(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mb-3">Tags:</h4>

                            {% for tag in blogtags %}
                            <h5 class="my-2">
                                {{ tag.blogpost_tag }}
                            </h5>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            <br>
        </div>
    </div>
</div>

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% endblock %}