{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}
{% block title %}Reset Password - olirowan{% endblock %}

{% block app_content %}

    <div class="container signin-container">
        <div class="row">
            <div class="col-md-12">
                <div class="my-5 card signin-card">

                    <h2>Reset Password</h2>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                {{ wtf.render_form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

{% endblock %}

