{% extends "base.html" %}
{% set active_page = "snippets" %}

{% block title %}Blog - olirowan{% endblock %}

{% block app_content %}

<div class="container post-text">

    <div class="row justify-content-evenly">

        <div class="col-md-12">

            <h2 class="mt-4">Snippets</h2>

            <span class="">Tags:</span>

            <span><a class="mx-1" href="{{ url_for('blog')}} ">all</a></span>

            {% for tag in blogtags %}
            <span><a class="mx-1" href="{{ url_for('blog_tags', tag_name=tag.blogpost_tag) }} ">
                    {{ tag.blogpost_tag }}</a></span>

            {% endfor %}

            <hr class="separator my-4">

            <div class="row">

                {% for entry in blogposts %}

                <div class="col-1 blog-icon">
                    <h2 class="fas {{ entry.icon }} my-3"></h2>
                </div>

                <div class="col-11">
                    <div class="media-body black-link-hover">
                        <h3><a href="{{ url_for('readpost', slug=entry.slug) }}">
                                {{ entry.title }}
                            </a>
                        </h3>
                        <p>{{ entry.timestamp.strftime('%d %B %Y') }}</p>
                        {% for tag in entry.tag %}
                        <span class="span_tags"><a href="{{ url_for('blog_tags', tag_name=tag.blogpost_tag) }} ">
                                {{ tag.blogpost_tag }}</a></span>
                        {% endfor %}
                    </div>
                </div>

                <hr class="separator my-4">
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-12 my-5">
            <br class="my-5">
        </div>
    </div>
</div>

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% endblock %}